html {
    height: 100%;
    background-color: lightgrey;
}
    
body {
    background-color: ivory;
    border: 2px solid darkgray;
    padding-left: 10px;
    padding-right: 10px;

    width: 600px;
    height: 99%;
    margin: auto;
    display: flex;
    flex-direction: column;

    transition: border-color 1s ease;
}

header {
    flex-grow: 0;
    flex-shrink: 0;
}

main {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.scroll-wrapper {
    flex: 1;
    position: relative;
}
      
.scrollable {
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-right: 10px;
}

p code {
	background-color: greenyellow;
	padding-left: 4px;
	padding-right: 4px;
}

h1 {
    background-color: lightblue;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    float: left;
    width: 50px;
}

p pre {
    display: inline;
}

.progressive {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.progressive1, .progressive2, .progressive3, .progressive4,
.progressive5, .progressive6, .progressive7, .progressive8 {
    opacity: 0;
}
